flows.json
[{"id":"4c913087.85f34","type":"tab","label":"RIPARIA","disabled":false,"info":""},{"id":"5b99edc9.f30b04","type":"inject","z":"4c913087.85f34","name":"Blue On","topic":"RIPARIA/relays/lights/blue","payload":"on","payloadType":"str","repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["8c33ae79.e7b69","811a975b.c66f08"]]},{"id":"c5a93d04.1b2078","type":"inject","z":"4c913087.85f34","name":"blue off","topic":"RIPARIA/relays/lights/blue","payload":"off","payloadType":"str","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["93e6087e.b54f98","a2714295.26ad98"]]},{"id":"93e6087e.b54f98","type":"mqtt out","z":"4c913087.85f34","name":"Blue Off","topic":"RIPARIA/relays/lights/blue","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":340,"y":260,"wires":[]},{"id":"a2714295.26ad98","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":307,"wires":[]},{"id":"8c33ae79.e7b69","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":207,"wires":[]},{"id":"811a975b.c66f08","type":"mqtt out","z":"4c913087.85f34","name":"Blue On","topic":"RIPARIA/relays/lights/blue","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":340,"y":160,"wires":[]},{"id":"ef5c2094.59e5a","type":"mqtt in","z":"4c913087.85f34","name":"","topic":"RIPARIA/system/airtemp","qos":"0","datatype":"auto","broker":"b6712bff.c9bb7","x":631,"y":162,"wires":[["18fdcc2.75ebcb4"]]},{"id":"c6c434d2.55bbe8","type":"ui_text","z":"4c913087.85f34","group":"806d0491.a879e","order":2,"width":0,"height":0,"name":"","label":"Air Temp: ","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":161,"wires":[]},{"id":"7584b500.52d4d4","type":"ui_button","z":"4c913087.85f34","name":"BLUE/off","group":"9e0748f9.9d22d8","order":4,"width":0,"height":0,"passthru":false,"label":"BLUE/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/relays/lights/blue","x":120,"y":307,"wires":[["93e6087e.b54f98"]]},{"id":"85a613c4.50124","type":"mqtt in","z":"4c913087.85f34","name":"","topic":"RIPARIA/system/humidity","qos":"0","datatype":"auto","broker":"b6712bff.c9bb7","x":631,"y":284,"wires":[["caea44a8.ba1be8"]]},{"id":"25a0ecd1.0a9c5c","type":"ui_button","z":"4c913087.85f34","name":"","group":"9e0748f9.9d22d8","order":3,"width":0,"height":0,"passthru":false,"label":"BLUE/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/relays/lights/blue","x":120,"y":207,"wires":[["811a975b.c66f08"]]},{"id":"511752f4.a2f664","type":"inject","z":"4c913087.85f34","name":"Red On","topic":"RIPARIA/relays/lights/red","payload":"on","payloadType":"str","repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["afab16b4.0afcc8","aea73937.c7b9a8"]]},{"id":"31dc830e.ff4c9c","type":"inject","z":"4c913087.85f34","name":"Red Off","topic":"RIPARIA/relays/lights/red","payload":"off","payloadType":"str","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":100,"y":460,"wires":[["5c5b2a10.25d68c","e40650aa.f1c808"]]},{"id":"5c5b2a10.25d68c","type":"mqtt out","z":"4c913087.85f34","name":"Red Off","topic":"RIPARIA/relays/lights/red","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":460,"wires":[]},{"id":"e40650aa.f1c808","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":507,"wires":[]},{"id":"afab16b4.0afcc8","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":407,"wires":[]},{"id":"aea73937.c7b9a8","type":"mqtt out","z":"4c913087.85f34","name":"Red On","topic":"RIPARIA/relays/lights/red","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":360,"wires":[]},{"id":"e93418e0.59bc68","type":"ui_button","z":"4c913087.85f34","name":"RED/off","group":"9e0748f9.9d22d8","order":6,"width":0,"height":0,"passthru":false,"label":"RED/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/relays/lights/red","x":120,"y":507,"wires":[["5c5b2a10.25d68c"]]},{"id":"cf622af6.13857","type":"ui_button","z":"4c913087.85f34","name":"RED/on","group":"9e0748f9.9d22d8","order":5,"width":0,"height":0,"passthru":false,"label":"RED/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/relays/lights/red","x":120,"y":407,"wires":[["aea73937.c7b9a8"]]},{"id":"57771ef9.a0399","type":"inject","z":"4c913087.85f34","name":"White On","topic":"RIPARIA/relays/lights/white","payload":"on","payloadType":"str","repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"x":110,"y":560,"wires":[["84367122.5d82a8","289047dd.73c128"]]},{"id":"df1e42a1.44f5","type":"inject","z":"4c913087.85f34","name":"White Off","topic":"RIPARIA/relays/lights/white","payload":"off","payloadType":"str","repeat":"","crontab":"59 23 * * *","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["c8f179cd.7eef6","3bc32e45.6b6d9a"]]},{"id":"c8f179cd.7eef6","type":"mqtt out","z":"4c913087.85f34","name":"White Off","topic":"RIPARIA/relays/lights/white","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":660,"wires":[]},{"id":"3bc32e45.6b6d9a","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":707,"wires":[]},{"id":"84367122.5d82a8","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":607,"wires":[]},{"id":"289047dd.73c128","type":"mqtt out","z":"4c913087.85f34","name":"White On","topic":"RIPARIA/relays/lights/white","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":560,"wires":[]},{"id":"d5236f77.962a48","type":"ui_button","z":"4c913087.85f34","name":"WHITE/off","group":"9e0748f9.9d22d8","order":2,"width":0,"height":0,"passthru":false,"label":"WHITE/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/relays/lights/white","x":130,"y":707,"wires":[["c8f179cd.7eef6"]]},{"id":"9b0c7aa6.b537a8","type":"ui_button","z":"4c913087.85f34","name":"WHITE/on","group":"9e0748f9.9d22d8","order":1,"width":0,"height":0,"passthru":false,"label":"WHITE/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/relays/lights/white","x":130,"y":607,"wires":[["289047dd.73c128"]]},{"id":"78e4b3a8.6118d4","type":"inject","z":"4c913087.85f34","name":"Sump On","topic":"RIPARIA/relays/lights/sump","payload":"on","payloadType":"str","repeat":"","crontab":"30 08 * * *","once":false,"onceDelay":0.1,"x":96,"y":760,"wires":[["3bfa2002.65bc08","5036e225.54e84c"]]},{"id":"2be42ee0.b1427a","type":"inject","z":"4c913087.85f34","name":"Sump Off","topic":"RIPARIA/relays/lights/sump","payload":"off","payloadType":"str","repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":860,"wires":[["a5ab8a36.030f78","9ab94da.5a8f43"]]},{"id":"a5ab8a36.030f78","type":"mqtt out","z":"4c913087.85f34","name":"Sump Off","topic":"RIPARIA/relays/lights/sump","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":860,"wires":[]},{"id":"9ab94da.5a8f43","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":907,"wires":[]},{"id":"3bfa2002.65bc08","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":807,"wires":[]},{"id":"5036e225.54e84c","type":"mqtt out","z":"4c913087.85f34","name":"Sump On","topic":"RIPARIA/relays/lights/sump","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":760,"wires":[]},{"id":"14a4ba05.4730d6","type":"ui_button","z":"4c913087.85f34","name":"SUMP/off","group":"9e0748f9.9d22d8","order":10,"width":0,"height":0,"passthru":false,"label":"SUMP/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/relays/lights/sump","x":120,"y":907,"wires":[["a5ab8a36.030f78"]]},{"id":"d2570bd7.46d098","type":"ui_button","z":"4c913087.85f34","name":"SUMP/on","group":"9e0748f9.9d22d8","order":9,"width":0,"height":0,"passthru":false,"label":"SUMP/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/relays/lights/sump","x":120,"y":807,"wires":[["5036e225.54e84c"]]},{"id":"f2809383.4eb47","type":"comment","z":"4c913087.85f34","name":"Lights","info":"","x":230,"y":80,"wires":[]},{"id":"916e37b7.cf9bd","type":"comment","z":"4c913087.85f34","name":"Sensors","info":"","x":880,"y":80,"wires":[]},{"id":"b069f3e7.6dcfe8","type":"comment","z":"4c913087.85f34","name":"system","info":"","x":1427,"y":80,"wires":[]},{"id":"d15ebe7d.b5994","type":"mqtt in","z":"4c913087.85f34","name":"RIPARIA_temp_tank","topic":"RIPARIA/system/tanktemp/#","qos":"0","datatype":"auto","broker":"b6712bff.c9bb7","x":651,"y":340,"wires":[["1c48f1f9.c848ae"]]},{"id":"c0cae19e.238bf","type":"ui_text","z":"4c913087.85f34","group":"806d0491.a879e","order":1,"width":0,"height":0,"name":"","label":"Water Temp: ","format":"{{msg.payload}}","layout":"row-spread","x":1071,"y":340,"wires":[]},{"id":"58c61bdd.bbacfc","type":"inject","z":"4c913087.85f34","name":"Air Pump On","topic":"RIPARIA/system/airpump","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":160,"wires":[["3b17deac.a8a23a","4b7d9f98.33216"]]},{"id":"d5f8d7d.235a9a8","type":"inject","z":"4c913087.85f34","name":"Air Pump Off","topic":"RIPARIA/system/airpump","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":242,"wires":[["a3321bad.fbe75","5586413b.5e21e"]]},{"id":"a3321bad.fbe75","type":"mqtt out","z":"4c913087.85f34","name":"Air Pump Off","topic":"RIPARIA/system/airpump","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1550,"y":260,"wires":[]},{"id":"5586413b.5e21e","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1550,"y":307,"wires":[]},{"id":"3b17deac.a8a23a","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1550,"y":207,"wires":[]},{"id":"4b7d9f98.33216","type":"mqtt out","z":"4c913087.85f34","name":"Air Pump On","topic":"RIPARIA/system/airpump","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1550,"y":160,"wires":[]},{"id":"edfc83c7.4f363","type":"ui_button","z":"4c913087.85f34","name":"AIR/off","group":"89681b6.6347be8","order":2,"width":0,"height":0,"passthru":false,"label":"AIR/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/system/airpump","x":1332,"y":284,"wires":[["a3321bad.fbe75"]]},{"id":"ae5b80a0.a6e96","type":"ui_button","z":"4c913087.85f34","name":"AIR/on","group":"89681b6.6347be8","order":1,"width":0,"height":0,"passthru":false,"label":"AIR/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/system/airpump","x":1330,"y":200,"wires":[["4b7d9f98.33216"]]},{"id":"8a78ee85.a140a8","type":"inject","z":"4c913087.85f34","name":"co2 On","topic":"RIPARIA/system/co2","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1334,"y":364,"wires":[["eb77294a.4e815","6467ad.1a3ec054"]]},{"id":"2bc68e75.430d1a","type":"inject","z":"4c913087.85f34","name":"Co2 Off","topic":"RIPARIA/system/co2","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1335,"y":440,"wires":[["d5e603ff.d2c3e","c07892a4.e87f7"]]},{"id":"d5e603ff.d2c3e","type":"mqtt out","z":"4c913087.85f34","name":"Co2 Off","topic":"RIPARIA/system/co2","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1544,"y":464,"wires":[]},{"id":"c07892a4.e87f7","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1554,"y":511,"wires":[]},{"id":"eb77294a.4e815","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1554,"y":411,"wires":[]},{"id":"6467ad.1a3ec054","type":"mqtt out","z":"4c913087.85f34","name":"Co2 On","topic":"RIPARIA/system/co2","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1544,"y":364,"wires":[]},{"id":"712fb678.6f1348","type":"ui_button","z":"4c913087.85f34","name":"CO2/off","group":"89681b6.6347be8","order":4,"width":0,"height":0,"passthru":false,"label":"CO2/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/system/co2","x":1330,"y":481,"wires":[["d5e603ff.d2c3e"]]},{"id":"9d2102c4.4f0eb8","type":"ui_button","z":"4c913087.85f34","name":"CO2/on","group":"89681b6.6347be8","order":3,"width":0,"height":0,"passthru":false,"label":"CO2/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/system/co2","x":1327,"y":400,"wires":[["6467ad.1a3ec054"]]},{"id":"f33d9f43.4c8868","type":"inject","z":"4c913087.85f34","name":"Water Pump On","topic":"RIPARIA/system/waterpump","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1310,"y":561,"wires":[["6daa2c41.bf171c","52bb54f2.36482c"]]},{"id":"e06662f1.74b858","type":"inject","z":"4c913087.85f34","name":"Water Pump Off","topic":"RIPARIA/system/waterpump","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1316,"y":646,"wires":[["b80cdc7.c1ce1a","94534af6.ad40f"]]},{"id":"b80cdc7.c1ce1a","type":"mqtt out","z":"4c913087.85f34","name":"Water Pump Off","topic":"RIPARIA/system/waterpump","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1568,"y":648,"wires":[]},{"id":"94534af6.ad40f","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1558,"y":696,"wires":[]},{"id":"6daa2c41.bf171c","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1558,"y":608,"wires":[]},{"id":"52bb54f2.36482c","type":"mqtt out","z":"4c913087.85f34","name":"Water Pump","topic":"RIPARIA/system/waterpump","qos":"2","retain":"","broker":"b6712bff.c9bb7","x":1558,"y":561,"wires":[]},{"id":"c82a45bb.8b1a28","type":"ui_button","z":"4c913087.85f34","name":"WaterPump/off","group":"89681b6.6347be8","order":6,"width":0,"height":0,"passthru":false,"label":"WaterPump/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/system/waterpump","x":1318,"y":687,"wires":[["b80cdc7.c1ce1a"]]},{"id":"c26ef71.3709508","type":"ui_button","z":"4c913087.85f34","name":"CIRC/on","group":"89681b6.6347be8","order":5,"width":0,"height":0,"passthru":false,"label":"CIRC/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/system/waterpump","x":1331,"y":604,"wires":[["52bb54f2.36482c"]]},{"id":"dccbdab4.376a3","type":"inject","z":"4c913087.85f34","name":"Night On","topic":"RIPARIA/relays/lights/night","payload":"on","payloadType":"str","repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"x":110,"y":960,"wires":[["86018234.ed31d","96174e15.56a99"]]},{"id":"e449a68c.45b8","type":"inject","z":"4c913087.85f34","name":"Night Off","topic":"RIPARIA/relays/lights/night","payload":"off","payloadType":"str","repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":1060,"wires":[["62b17dc0.7e7afc","48360f54.4f2d4"]]},{"id":"62b17dc0.7e7afc","type":"mqtt out","z":"4c913087.85f34","name":"Night Off","topic":"RIPARIA/relays/lights/night","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":1060,"wires":[]},{"id":"48360f54.4f2d4","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":1107,"wires":[]},{"id":"86018234.ed31d","type":"debug","z":"4c913087.85f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":1007,"wires":[]},{"id":"96174e15.56a99","type":"mqtt out","z":"4c913087.85f34","name":"Night On","topic":"RIPARIA/relays/lights/night","qos":"1","retain":"","broker":"b6712bff.c9bb7","x":340,"y":960,"wires":[]},{"id":"fc70da89.0b09","type":"ui_button","z":"4c913087.85f34","name":"NIGHT/off","group":"9e0748f9.9d22d8","order":8,"width":0,"height":0,"passthru":false,"label":"NIGHT/off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"RIPARIA/relays/lights/night","x":120,"y":1107,"wires":[["62b17dc0.7e7afc"]]},{"id":"733426cd.eaffd8","type":"ui_button","z":"4c913087.85f34","name":"NIGHT/on","group":"9e0748f9.9d22d8","order":7,"width":0,"height":0,"passthru":false,"label":"NIGHT/on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"RIPARIA/relays/lights/night","x":120,"y":1007,"wires":[["96174e15.56a99"]]},{"id":"5261f7f4.63c4e8","type":"ui_chart","z":"4c913087.85f34","name":"","group":"da8427f3.448e4","order":3,"width":0,"height":0,"label":"Air Temp:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"3600","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1060,"y":199,"wires":[[]]},{"id":"75822c76.7df28c","type":"mqtt in","z":"4c913087.85f34","name":"wLevel","topic":"RIPARIA/system/reservoirLevel","qos":"2","datatype":"auto","broker":"b6712bff.c9bb7","x":690,"y":440,"wires":[["bfec6df2.63d568"]]},{"id":"e13a0dee.5a5908","type":"ui_text","z":"4c913087.85f34","group":"806d0491.a879e","order":4,"width":0,"height":0,"name":"Resevoir Level","label":"Reservoir Level","format":"{{msg.payload}}","layout":"row-spread","x":1082,"y":440,"wires":[]},{"id":"96b0c176.e633e8","type":"ui_chart","z":"4c913087.85f34","name":"","group":"da8427f3.448e4","order":2,"width":0,"height":0,"label":"Aquarium Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"24","ymax":"27","removeOlder":"48","removeOlderPoints":"3000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1083,"y":381,"wires":[[]]},{"id":"afbf9b5c.5bc6e","type":"ui_text","z":"4c913087.85f34","group":"806d0491.a879e","order":3,"width":0,"height":0,"name":"","label":"Relative Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":284,"wires":[]},{"id":"1c48f1f9.c848ae","type":"smooth","z":"4c913087.85f34","name":"","property":"payload","action":"mean","count":"10","round":"2","mult":"single","reduce":false,"x":880,"y":340,"wires":[["96b0c176.e633e8","c0cae19e.238bf"]]},{"id":"18fdcc2.75ebcb4","type":"smooth","z":"4c913087.85f34","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","reduce":false,"x":880,"y":161,"wires":[["c6c434d2.55bbe8","5261f7f4.63c4e8"]]},{"id":"caea44a8.ba1be8","type":"smooth","z":"4c913087.85f34","name":"","property":"payload","action":"mean","count":"5","round":"2","mult":"single","reduce":false,"x":880,"y":284,"wires":[["afbf9b5c.5bc6e","7b52f1f9.3e44a"]]},{"id":"7b52f1f9.3e44a","type":"ui_chart","z":"4c913087.85f34","name":"","group":"da8427f3.448e4","order":1,"width":0,"height":0,"label":"Relative Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1090,"y":248,"wires":[[]]},{"id":"315e8569.0d41ba","type":"ui_chart","z":"4c913087.85f34","name":"","group":"da8427f3.448e4","order":3,"width":0,"height":0,"label":"Reservoir:","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1073,"y":484,"wires":[[]]},{"id":"bfec6df2.63d568","type":"smooth","z":"4c913087.85f34","name":"","property":"payload","action":"mean","count":"4","round":"2","mult":"single","reduce":false,"x":880,"y":440,"wires":[["e13a0dee.5a5908","315e8569.0d41ba"]]},{"id":"b6712bff.c9bb7","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"806d0491.a879e","type":"ui_group","z":"","name":"Sensors","tab":"9e6f129b.2652c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9e0748f9.9d22d8","type":"ui_group","z":"","name":"Lights","tab":"9e6f129b.2652c8","order":3,"disp":true,"width":"4","collapse":false},{"id":"89681b6.6347be8","type":"ui_group","z":"","name":"System","tab":"9e6f129b.2652c8","order":4,"disp":true,"width":"4","collapse":false},{"id":"da8427f3.448e4","type":"ui_group","z":"","name":"Charts","tab":"9e6f129b.2652c8","order":2,"disp":true,"width":"7","collapse":false},{"id":"9e6f129b.2652c8","type":"ui_tab","z":"","name":"RIPARIA","icon":"dashboard","order":1,"disabled":false,"hidden":false}]